#NameVirtualHost * # AH00548: NameVirtualHost has no effect and will be removed in the next release
Listen {{ apache_host }}:{{ apache_port }}

#<IfModule mod_ssl.c>
#    Listen 443
#</IfModule>

#<IfModule mod_gnutls.c>
#    Listen 443
#</IfModule>
