[submodule "roles/exim"]
	path = roles/exim
	url = https://github.com/WebbyLab/ansible-role-exim4-sender.git
[submodule "roles/dns"]
	path = roles/dns
	url = https://github.com/jdauphant/ansible-role-dns.git
[submodule "roles/locales"]
	path = roles/locales
	url = https://github.com/Oefenweb/ansible-locales.git
