[submodule "roles/dns"]
	path = roles/dns
	url = https://github.com/popstas/ansible-role-dns.git
[submodule "roles/docker"]
	path = roles/docker
	url = https://github.com/popstas/ansible-role-docker.git
[submodule "roles/exim4"]
	path = roles/exim4
	url = https://github.com/popstas/ansible-role-exim4-sender.git
[submodule "roles/nginx"]
	path = roles/nginx
	url = https://github.com/popstas/ansible-role-nginx.git
